/* common shared style */

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.button-primary{
    border-radius: 8px;
    background: #E55473;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 0px;

}

/* header related style */

.header{
    background-color: #e554731a;
}

.banner{
    display: flex;
    align-items: center;
    padding:30px 30px 0 150px;
    justify-content: space-between;   
}
.banner-content{
    max-width: 1000px;
    
}

.banner-greeting{
    color: #272727;
    font-size: 80px;
    margin-bottom: 10px;
    line-height: px;
}
.paragraph{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 50px;
}
.banner .first picture{
    width: 635px;
    height: 800px;
}
/* main section style */

/* featured flower section */

.feature-flower{
    margin-top: 100px;
}
.section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;   
}
   
.pink-flower{
    display: flex;
    height: 600px;
    margin-top: 40px;
    width:100%;
    justify-content: center; 
    gap: 20px; 
    
}

.flower1{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 400px;
    height: 400px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}
.flower2{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 400px;
    height: 400px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}
.flower3{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 400px;
    height: 400px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);

}

.imag_area_1{
    position: absolute;
    bottom: 0;
    margin-left: 50px;
    object-fit: contain;
    height: 300px; 
    width: 300px;
    border-radius: 300px 300px 0px 0px;
    
}

.imag_area_2{
    position: absolute;
    bottom: 0;
    height: 400px;
    width: 300px;
    border-radius: 300px 300px 0px 0px;   
   
}
.imag_area_3{
    display: block;
    position: absolute;
    bottom: -410px;
    width: 400px;
    left: 0px;
    font-style: normal;
    text-align: center;
    height: 400px;
    text-decoration-line: underline;

}

/* service section */
.service{
    display: flex;
    padding: 140px 146px ;
    /* border-radius: 8px; */
    background: rgba(39, 39, 39, 0.05);
    margin: 0px 100px 100px 100px;
    justify-content: space-around;
    /* width:80%; */

}
.service-info{
    text-align: center;
}
.span-color{
    color: #E55473;
}
.deal-content{
    display: ;
}


.header_1{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 500px;
    width: 100%;
    
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    display: inline-flex;
    padding: 20px 43px;
    align-items: center;
    margin: 40px 0px 50px 430px;

}
.deal-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin: 100px 0px 0px 200px ;
}
.deal-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    margin: 20px 0px 0px 190px;
}

.deal-picture{
    margin-left: 100px;
}

.main-flower{
    display: flex;
    height: 600px;
    margin-top: 40px;
    width:100%;
    justify-content: center; 
    gap: 20px; 
}

.mail-section{
    /* border-radius: 8px;
    background-image: url('../Flower Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    gap: 20px;
    width: 1440px;
    height: 449px;
    margin:20px 10px 200px 5px */
}
.header2{
    border-radius: 8px;
    background: url('../Flower Asset/Rectangle 9.png'), lightgray 0px -203.444px / 100% 213.755% no-repeat;
    background-repeat: no-repeat;
    width: 1440px;
    height: ;
    justify-content: center;
    margin-left: 400px;
}   
   
.button-section{
    justify-content: space-between;
}
.section-title2{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    
    
}
.section-description2{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    margin-top: 100px;
}
.subscribe-btn{
    border-radius: 8px;
    background: #E55473;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    display: inline-flex;
    padding: 20px 43px;
    align-items: center;
    gap: 20px;
    margin: 10px 100px 100px 10px;
}
.mail-box{
    border-radius: 8px;
    background: #FFF;
    border: 0;
    width: 500px;
    height: 65px;
    text-align: left;
    padding-left: 10px;
    content: ;
    margin:30px 0px 50px 400px;
    color: rgba(39, 39, 39, 0.60);
    font-style: normal;
    font-size: 16px;
}

/* footer-section */

.section{
    
    background-color: #111010;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 449px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    
}
#section-title3{
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    
}
.section-description3{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}
.foot{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
}